<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<section class="container">
    <div class="mt-5 mx-auto">
                <%- include('./partials/flash') %>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="display-3 mt-3 text-center">Error Page</h1>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>